<div id="family-plan" class="site-section site-blocks-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Nossos planos</h2>
      </div>
    </div>
    <div style="margin-left: 10%; margin-top: 5%;" class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="">
        <a href="#">
          <figure>
            <img src="../../assets/images/icon_sponsor.png" alt="">
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a href="#">
          <figure class="image">
            <img src="../../assets/images/icon_partner.png" alt="">
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a href="#">
          <figure class="image">
            <img style="width: 41% !important" src="../../assets/images/icon_adopt_child.png" alt="">
          </figure>
        </a>
      </div>

    </div>
    <div style="margin-left: 10%;" class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a href="#">
          <figure class="image">
            <img src="../../assets/images/icon_family_adopt.png" alt="">
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a href="#">
          <figure class="image">
            <img style="width: 46% !important" src="../../assets/images/icon_volunteer.png" alt="">
          </figure>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <a href="#">
          <figure class="image">
            <img style="width: 46% !important" src="../../assets/images/icon_make_donation.png" alt="">
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>