<!-- <div class="container-fluid login">
  <div class="row login-row">
    <div class="col-lg-6 col-md-6 login-card">
      <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
          <h3 class="login-title">Projeto Esperança</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-8 login-input">
                <mat-form-field>
                  <input [(ngModel)]="loginParams.mail" name="email" matInput placeholder="Email" type="email">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 login-input">
                <mat-form-field>
                  <input [(ngModel)]="loginParams.password" name="password" matInput placeholder="Senha" type="password">
                </mat-form-field>
              </div>
            </div>
            <button mat-raised-button class="btn btn-primary" (click)="login()">LOGIN</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="hgroup">
  <h2>Decore Móveis</h2>
  <h4>Backoffice</h4>
</div>
<form>
  <div class="group">
    <input [(ngModel)]="loginParams.mail" type="email" name="email"><span class="highlight"></span><span class="bar"></span>
    <label>Usuário</label>
  </div>
  <div class="group">
    <input [(ngModel)]="loginParams.password" type="password" name="password"><span class="highlight"></span><span
      class="bar"></span>
    <label>Senha</label>
  </div>
  <button type="button" class="button buttonBlue" (click)="login()">Entrar
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>