.sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .08);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-right {
    position: absolute;
    right: 3vw;
    bottom: 2.3vh;
}

.fade-in {
    -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}