<h1 mat-dialog-title>Editando plano <b>{{data.name}}</b></h1>
<div mat-dialog-content>
    <p>Nome</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <p>Dia da cobrança</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.dayOfMonth">
    </mat-form-field>
    <p>Período</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.period">
    </mat-form-field>
    Data final
    <mat-form-field>
        <input matInput [(ngModel)]="data.finalDate">
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="udpate()" cdkFocusInitial>Ok</button>
</div>